* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  align-items: center;
  min-height: 100vh;
  gap: 4rem;
  justify-content: center;
}
.container {
  display: flex;
  border: 1px solid red;
}
.left {
  background-image: linear-gradient(
    hsl(278, 68%, 11%),
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  width: 30%;
}
.right {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.input-d {
  display: flex;
}
button {
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  padding: 0.5rem;
  border-radius: .5em;
  cursor: pointer;
}








.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
